@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button {
  width: 5%;
  border-radius: 4px;
  padding: 8px 0;
  text-align: center;
  margin: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #f24;
  box-shadow: 1px 1px 2px rgb(229, 151, 160), 1px -1px 2px rgb(229, 151, 160), -1px -1px 2px rgb(229, 151, 160),
    -1px 1px 2px rgb(229, 151, 160);
}

.all_button {
  display: flex;
}
